.element__like {
    max-width: 100%;
    position: absolute;
    left: 240px;
    bottom: 29px;
}

.element__like:hover {
    transition: 0.35s;
    opacity: 0.5;
}

.element__like:active {
    background-image: url(../../../images/heart-black.svg);
    opacity: 100%;
    max-width: 100%;
    transition: 0.35s;
    z-index: 100;

}