.element__like {
  width: 22px;
  height: 19px;
  border: 0;
  background: no-repeat center/22px transparent url("../../../images/heart.svg");
}

.element__like:hover {
  transition: 0.35s;
  opacity: 0.5;
  cursor: pointer;
}
