.profile__edit-button {
  width: 24px;
  height: 24px;
  padding: 6px;
  border: 1px solid #fff;
  align-self: center;
  background: no-repeat center transparent url("../../../images/edit.png");
}

.profile__edit-button:hover {
  transition: 0.35s;
  opacity: 0.6;
  cursor: pointer;
}

@media screen and (max-width: 681px) {
  .profile__edit-button {
    padding: 3px;
  }
}

@media screen and (max-width: 320px) {
  .profile__edit-button {
    width: 18px;
    height: 18px;
  }
}
