.profile__info {
  max-width: 50%;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding-left: 30px;
  padding-right: 244px;
}

@media screen and (max-width: 1274px) {
  .profile__info {
    padding-right: 0;
  }
}

@media screen and (max-width: 607px) {
  .profile__info {
    max-width: 70%;
    margin: 0 auto;
    padding-top: 26px;
    padding-left: 0;
    padding-bottom: 36px;
  }
}

@media screen and (max-width: 348px) {
  .profile__info {
    max-width: 75%;
  }
}

@media screen and (max-width: 339px) {
  .profile__info {
    max-width: 80%;
  }
}

@media screen and (max-width: 320px) {
  .profile__info {
    max-width: 282px;
    padding-bottom: 32px;
  }
}
