.profile__username {
  font-family: "Inter", "Arial", sans-serif;
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
  color: #ffffff;
  margin: 0;
  padding-right: 15px;
  align-self: center;
}

@media screen and (max-width: 737px) {
  .profile__username {
    font-size: 27px;
    padding-right: 5px;
  }
}
@media screen and (max-width: 320px) {
  .profile__username {
    max-width: 189px;
    line-height: 33px;
    padding-right: 10px;
    font-size: 27px;
    align-self: flex-end;
  }
}