.profile {
  max-width: 69%;
  margin: 0 auto;
  padding-bottom: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (min-width: 932px) and (max-width: 1279px) {
  .profile {
    max-width: 75%;
  }
}

@media screen and (min-width: 321px) and (max-width: 931px) {
  .profile {
    max-width: 90%;
  }
}

@media screen and (max-width: 607px) {
  .profile {
    max-width: 100%;
    flex-direction: column;
    padding: 42px 19px 36px;
  }
}

@media screen and (max-width: 320px) {
  .profile {
    max-width: 100%;
    flex-direction: column;
    padding: 42px 19px 36px;
  }
}