.header__logo {
  max-width: 100%;
  object-fit: contain;
}

@media screen and (max-width: 1080px) {
  .header__logo {
    padding-left: 27px;
  }
}

@media screen and (max-width: 320px) {
  .header__logo {
    max-width: 103.74px;
    min-height: 24.4px;
    padding-top: 28px;
  }
}