.header {
  max-width: 68.7%;
  padding: 45px 200px 40px;
  margin: 0;
}

.header::after {
  content: "";
  border-bottom: 1px solid #545454;
  max-width: 100%;
  display: block;
  margin: 0 auto;
  padding-top: 41px;
}

@media screen and (max-width: 1080px) {
  .header {
    max-width: 100%;
    padding-left: 0;
    padding-right: 0;
    margin: 0;
  }
}

@media screen and (max-width: 320px) {
  .header {
    padding: 0;
  }
  .header::after {
    max-width: 320px;
    padding-top: 27px;
    margin: 0;
  }
}