.elements {
    max-width: 100%;
    margin: 0;
    padding-left: 200px;
    padding-right: 200px;
}

@media screen and (max-width: 320px) {
    .elements {
        padding-left: 19px;
        padding-right: 19px;
    }
}