.profile__description {
  min-width: 336px;
  font-family: "Inter", "Arial", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
  margin: 0;
  padding-top: 9px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (max-width: 737px) {
  .profile__description {
    min-width: 282px;
    font-size: 14px;
    padding-top: 8px;
    line-height: 17px;
    text-align: center;
  }
}
