.profile__add-button {
  width: 165px;
  height: 50px;
  padding: 14px 64px;
  justify-self: end;
  border: 2px solid #fff;
  background: no-repeat center/22px transparent url("../../../images/add.png");
}

.profile__add-button:hover {
  transition: 0.35s;
  opacity: 0.6;
  cursor: pointer;
}

@media screen and (max-width: 320px) {
  .profile__add-button {
    width: 282px;
    background-size: 16px;
  }
}
