.profile__info {
    max-width: 340px;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    padding-left: 30px;
    padding-right: 244px;
}

@media screen and (max-width: 320px) {
    .profile__info {
        padding-top: 26px;
        padding-left: 0;
        padding-right: 0;
        padding-bottom: 36px;
        justify-content: center;
        margin: 0 auto;
        }
    
}
