.footer {
  max-width: 24.9%;
  padding-top: 68px;
  padding-left: 200px;
  padding-bottom: 60px;
}

@media screen and (max-width: 1279px) {
  .footer {
    max-width: 90%;
    padding: 48px 19px 36px;
  }
}
