.popup__input {
  max-width: 100%;
  padding: 45px 36px 13px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: none;
}

@media screen and (max-width: 557px) {
  .popup__input {
    padding: 34px 22px 11px;
  }
}
